<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G News | Administration | Edit post</title>
    <link rel="stylesheet" href="/css/navigation_admin.css" type="text/css">
    <link rel="stylesheet" href="/css/editpost.css" type="text/css">
    <link type="image/x-icon" rel="icon" href="/images/favicon.ico">
</head>
<body>
    
    <!-- Navbar e menu -->
    <%- include('include/navigation_admin')  %>
    
    <!-- Form New Post -->
    <div id="structure">
        <div id="whitebox">
            <h2>Edit news</h2>
            <form id="form" name="formEditPost" action="/administration/edit" method="post" onsubmit="saveChanges(event)">
                <div id="container" class="container">
                    <!-- Box Left -->
                    <div class="container-left">

                        <input id="id" name="id" type="hidden" value='<%= data[0].news_id %>'>

                        <!-- TITULO -->
                        <label class="title-label" for="title">Title:</label>
                        <input  type="text" 
                                name="title" 
                                id="title" 
                                autocomplete="off" 
                                spellcheck="false" 
                                onkeyup="urlGenerator()"
                                value='<%= data[0].title %>'>

                        <!-- url path -->
                        <p class="labelUrl">News URL:</p>
                        <input  
                            name="urlpath" 
                            type="text" 
                            id="urlpath"
                            value='<%= data[0].url_path %>'>

                        <!-- SUBTITULO -->
                        <label for="subtitle">Subtitle:</label>
                        <textarea   
                            name="subtitle" 
                            id="subtitle" cols="30" rows="10" 
                            spellcheck="false" 
                            autocomplete="off"><%= data[0].subtitle %></textarea>

                        <div class="box-author-locality">
                            <!-- AUTHOR -->
                            <div>
                                <label for="author">Author:</label>
                                <select id="author" name="author">
                                    <option value="0">Select a author:</option>
                                    <% authorsList.forEach(author => { %>
                                        <% if (author.author_id == data[0].author_id){ %>
                                            <option value="<%= author.author_id %>" selected><%= author.name %></option>
                                        <% } else { %> 
                                            <option value="<%= author.author_id %>"><%= author.name %></option>
                                        <% } %>
                                    <% }); %>
                                </select>
                            </div>

                            <!-- LOCALIDADE -->
                            <div>
                                <label for="locality">Locality:</label>
                                <input 
                                    type="text" 
                                    name="locality" 
                                    id="locality" 
                                    autocomplete="off" 
                                    spellcheck="false" 
                                    placeholder="Rio de Janeiro, Brasil"
                                    value='<%= data[0].locality %>'>
                            </div>
                            
                        </div>

                        <!-- card -->
                        <label>Card size on Homepage:</label>
                        <div id="card-radio-container">
                            <% if (data[0].card_size == 'big'){ %>
                                <label><input class="radio" type="radio" name="cardsize" value="big" checked>Big Card</label>
                                <label><input class="radio" type="radio" name="cardsize" value="normal">Normal Card</label>
                            <% } else { %>
                                <label><input class="radio" type="radio" name="cardsize" value="big">Big Card</label>
                                <label><input class="radio" type="radio" name="cardsize" value="normal" checked>Normal Card</label>
                            <% } %>
                        </div>

                        <!-- PICTURE PATH -->
                        <label for="picture">Picture:</label>
                        <input 
                            type="text" 
                            name="picture" 
                            id="picture" 
                            autocomplete="off" 
                            spellcheck="false" 
                            placeholder="/public/images/img1.jpg"
                            value='<%= data[0].path %>'>

                        <!-- PICTURE DESCRIPTION -->
                        <label for="picturedescription">Picture description:</label>
                        <input 
                            type="text" 
                            name="picturedescription" 
                            autocomplete="off" 
                            spellcheck="false" 
                            id="picturedescription"
                            value='<%= data[0].description %>'>
                    </div>
                    
                    <!-- Box Right -->
                    <div class="container-right">
                        <!-- TEXT -->
                        <label for="text">Text:</label>
                        <textarea 
                            name="text" 
                            id="text" cols="30" rows="10" 
                            spellcheck="false" 
                            autocomplete="off"><%= data[0].text %></textarea>
                    </div>
                </div>

                <!-- Alerta de erro de preenchimento -->
                <div class="errAlert" id="errAlert">
                    <p class="errAlertP">Preencher todos campos obrigatórios!</p>
                </div>
                
                <!-- BUTTONS -->
                <div class="buttons">
                    <button name="reset" type="reset">Restore</button>
                    <button name="publish" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
<script>

    function saveChanges(formEvent){
        formEvent.preventDefault();

        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());
        
        fetch('/administration/edit',{
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({data: data})
        }).then((response)=>{
            if (response.ok){
                window.location.href = '/administration/overview' 
                return
            } else {
                document.getElementById("errAlert").style.display = 'flex'
                console.log('aviso')
            }
        }).catch((err)=>{
            window.location.href = `/error?msg=${err}`
        })

    }

    function urlGenerator(){
        const value = document.getElementById("title").value;
        const url_path = document.getElementById("urlpath");
        
        if (Object.keys(value).length < 60){ 
            url_path.value = document.getElementById("title").value.replace(/ /g,'-').replace(/[^a-zA-Z0-9 -]/g, '');
        }
    }

</script>


</body>
</html>