<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G News</title>
    <link rel="stylesheet" href="public/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="public/css/navbar.css" type="text/css">
    <link type="image/x-icon" rel="icon" href="public/images/favicon.ico">
</head>
<body>
   
    <!-- NavBar -->
    <%- include('include/navbar'); %>

    <!-- Grid -->
    <div class="structure">
        <div class="containerNews">

            <% keysNews.forEach(key => { %>               
                <!-- Card -->
                <div class="<%= newsList[key].card_size %>Card" class="card">
                    <div class="card-container">
                        <a href="/news/news/<%= newsList[key].url_path %>">
                            <img src="public/images/<%= newsList[key].path %>" alt="">
                        </a>
                        <div class="card-title-container">
                            <a href="/news/news/<%= newsList[key].url_path %>" class="title"><b><%= newsList[key].title %></b></a>
                            <a href="/news/news/<%= newsList[key].url_path %>" class="subtitle"><b><%= newsList[key].subtitle %></b></a>
                        </div>
                    </div>
                </div>
            <% }); %>

        </div>
    </div>
    
    <!-- Old news section ?  -->

</body>
</html>