<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= newsData.title %></title>
    <link rel="stylesheet" href="/news/public/css/news.css" type="text/css">
    <link rel="stylesheet" href="/news/public/css/navbar.css" type="text/css">
    <link type="image/x-icon" rel="icon" href="/news/public/images/favicon.ico">
</head>
<body>
    
    <!-- Navbar -->
    <%- include('include/navbar'); %>

<div class="structure">
    <!-- Content -->
    <div class="grid">
        <div class="title"><h1><b><%= newsData.title %></b></h1></div>
        <div class="subtitle"><h2><%= newsData.subtitle %></h2></div>
        <div class="info">
            <p class="author"><b>Por <%= newsData.author_name %></b></p>
            <p class="locality"><b>  - </b><%= newsData.locality %></p>
        </div>
        
    </div>
    <hr>


    <div class="content">
        <div class="picture-card">
            <img src="/news/public/images/<%= newsData.path %>" alt="">
            <div class="container-text-image">
                <p class="text-image"><%= newsData.description %></p>
            </div>
        </div>
        <div class="news-text" >
            <p><%= newsData.text %></p>
        </div>
    </div>


</div>





</body>
</html>