<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G News | Administration</title>
    <link rel="stylesheet" href="/css/overview.css" type="text/css">
    <link rel="stylesheet" href="/css/navigation_admin.css" type="text/css">
    <link type="image/x-icon" rel="icon" href="/images/favicon.ico">
</head>
<body>
    
    
    <!-- Navbar and sidenav -->
    <%- include('include/navigation_admin') %>

    <div class="scroll-box-over">
        <!-- Alert delete -->
        <div id="alertDelete">
            <p>Confirm Delete?</p>
            <a href="#" onclick="removeNews()">Yes</a>
            <a href="#" onclick="dontDelete()">Cancel</a>
        </div>

        <!-- Reorder -->
        <a id="btnSave" href="#" onclick="saveOrder()"><b>Save</b></a>
        <a id="btnReorder" href="#" onclick="layoutReorder()"><b>Reorder items</b></a>
    </div>

    <!-- GRID News Overview -->
    <div id="structure">
        <div id="grid_overview">
            
            <!-- Item -->
            <% chavesNoticias.forEach(key => { %>
                <div id="id-<%= listaNoticias[key].id %>" class="item_grid" data-noticia-id="<%= listaNoticias[key].id %>">
                    <div class="form-box-top-left">
                        <div class="title-box">
                            <div class="title">
                                <p><b><%= listaNoticias[key].title %></b></p>
                            </div>
                            <div class="subtitle">
                                <p><%= listaNoticias[key].subtitle %></p>
                            </div>
                        </div>
                    </div>
                    <div class="box-image">
                        <img src="/<%= listaNoticias[key].path %>" alt="">
                    </div>
                    <div class="form-box-top-right">
                        <a class="btnHide" href="#" onclick="confirmDelete(`<%= listaNoticias[key].id %>`)"><i class="fa-solid fa-trash fa-lg" ></i></a>
                        <a class="btnHide" href="#" onclick="archiveNews(`<%= listaNoticias[key].id %>`)"><i class="fa-solid fa-box-archive fa-lg"></i></a>
                        <a class="btnHide" href="#" onclick="updateNews(`<%= listaNoticias[key].id %>`)"><i class="fa-solid fa-pen fa-lg"></i></a>
                        <a class="btnMove" href="#" onclick="move(`id-<%= listaNoticias[key].id %>`, 'left')"><i class="fa-solid fa-caret-left fa-lg"></i></a>
                        <a class="btnMove" href="#" onclick="move(`id-<%= listaNoticias[key].id %>`, 'right')"><i class="fa-solid fa-caret-right fa-lg"></i></a>
                    </div>
                    <div class="form-box-text">
                        <p><%= listaNoticias[key].text %> [...]</p>
                    </div>
                </div>
            <% }) %>
            <!-- End Item -->

        </div>
    </div>
</body>

<script src="https://kit.fontawesome.com/51f2407d07.js" crossorigin="anonymous"></script>
<script>

    let deactivateButtons = false
    let id_newsToDelete
    let originalOrder = []

    function confirmDelete(id){
        id_newsToDelete = id
        document.getElementById("alertDelete").style.height = '40px'
    }

    function dontDelete(){
        document.getElementById("alertDelete").style.height = '0px'
    }
    
    function removeNews(){

        //mandar o POST.
        let requestPromise = fetch(`/administration/overview/${id_newsToDelete}`, {method: 'DELETE'})
        requestPromise.then((response)=> {

            const cardToRemove = document.getElementById('id-' + id_newsToDelete);
            const grid = document.getElementById('grid_overview');
            grid.removeChild(cardToRemove);
            document.getElementById("alertDelete").style.height = '0px'

        }).catch((err) => {
            alert('Deu errado fetch remover')
        })
    } 

    function archivNews(id){

    }

    function updateNews(id){
        window.location = `/administration/edit?idNews=${id}`
    }
  
    function layoutReorder(){
        
        if (deactivateButtons == false){

            //Button REORDER
            deactivateButtons = true
            document.body.style.backgroundColor = 'rgb(78, 104, 113)';
            document.getElementById('btnReorder').innerHTML = '<b>Cancel</b>'
            document.getElementById('btnReorder').style.color = 'rgb(130, 0, 0)'
            document.getElementById('btnSave').style.display = 'block'
            document.querySelectorAll('.btnHide').forEach((e)=>{
                e.style.display = 'none'
            })
            document.querySelectorAll('.btnMove').forEach((e)=>{
                e.style.display = 'inline'
            })

            //store original order
            let news = document.getElementById('grid_overview').children
            for (let i=0; i < news.length; i++){
                originalOrder[i] = news[i].id
            }

        } else {

            //Button CANCEL
            deactivateButtons = false
            document.body.style.backgroundColor = 'lightblue';
            document.getElementById('btnReorder').innerHTML = '<b>Reorder items</b>'
            document.getElementById('btnReorder').style.color = 'black'
            document.getElementById('btnSave').style.display = 'none'
            document.querySelectorAll('.btnHide').forEach((e)=>{
                e.style.display = 'inline'
            })
            document.querySelectorAll('.btnMove').forEach((e)=>{
                e.style.display = 'none'
            })

            //restore original order
            let me = document.getElementById('grid_overview')
            let newsCount = Array.from(me.children).length
            for (let i=0; i < newsCount; i++){
 
                if (i==0){
                    me.insertBefore(document.getElementById(originalOrder[i]), document.getElementById(me.children[0].id))
                } else {
                    insertAfter(document.getElementById(originalOrder[i]), document.getElementById(me.children[i].id))
                }
            }
        }
    }

    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    }

    function move(id, direction){

        if (direction == 'left'){
            direction = -1
        } else {
            direction = 1
        } 

        let me = document.getElementById(id)
        let myIndex = Array.from(me.parentNode.children).indexOf(me)

        if ((myIndex + direction == -1) || (myIndex + direction == Array.from(me.parentNode.children).length)){
            return
        }
        let neighborID = me.parentNode.children[myIndex + direction].id
        let neighbor = document.getElementById(neighborID)

        if (direction ==-1){
            me.parentElement.insertBefore(me,neighbor)
        } else {
            me.parentElement.insertBefore(neighbor, me)
        }
    }

    function saveOrder(){
        //array save
        let news = document.getElementById('grid_overview')
        let newsCount = Array.from(news.children).length
        let database = []

        for (let i = newsCount - 1; i >= 0; i--){
            let newsId = news.children[i].dataset.noticiaId
            database.push(newsId)
        }

        //Fetch DB
        let requestPromise = fetch('/administration/overview/saveOrder', 
            {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({dados: database})
            })
            
        requestPromise.then(()=>{

            // Clean . . . . . . . . . . . . 
            deactivateButtons = false
            document.body.style.backgroundColor = 'lightblue';
            document.getElementById('btnReorder').innerHTML = '<b>Reorder items</b>'
            document.getElementById('btnReorder').style.color = 'black'
            document.getElementById('btnSave').style.display = 'none'
            document.querySelectorAll('.btnHide').forEach((e)=>{
                e.style.display = 'inline'
            })
            document.querySelectorAll('.btnMove').forEach((e)=>{
                e.style.display = 'none'
            })
        }).catch((err) => {
            console.log("Deu erro fetch ordem ", err)
        })
    }

    
</script>


</html>